CP = ;
SIMPATH = ;
STARLOC = ;
PODKEY = ;
LICPATH = ;
MACRO = ;
CLUSTER = ;
SUB_CLUSTER = ;
CLUMPED = ;
NODES = ;
freestream = ;
cornering = ;
sideslip = ;
steering = ;
yaw = ;
frh = ;
rrh = ;
roll = ;
maxSteps = ;
FAN = ;
preprocess = ;
process = ;
postprocess = ;
windTunnel = ;
DES = ;
CONV_SC = ;
adjoint = ;
is_second_order = ;
adjoint_cost_func = ;
adjoint_step = ;
adjoint_solve = ;
adjoint_postproce = ;
