CP = ;
SIMPATH = ;
STARLOC = ;
PODKEY = ;
LICPATH = ;
MACRO = MacroController.java;
CLUSTER = scholar;
SUB_CLUSTER = A;
CLUMPED = false;
NODES = 5;
CONV_SC = true;
yaw = 0;
sideslip = 0;
cornering = 10;
steering = 0;
frh = 0;
rrh = 0;
roll = 0;
freestream = 17.88;
maxSteps = 1500;
FAN = true;
preprocess = false;
process = true;
postprocess = false;
windTunnel = false;
DES = false;
